<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= title %></title>
  <link rel="stylesheet" href="output.css" />
  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  <script src="https://kit.fontawesome.com/3e561c4d16.js" crossorigin="anonymous"></script>
</head>

<body hx-boost="true" class="h-screen">
  <div class="px-6 max-w-screen-lg h-full m-auto">
    <%- body %>
  </div>
</body>

</html>
