<% title = "Stats"; %>

<nav class="py-5 mb-6 flex justify-between">
  <div class="flex gap-2">
    <a href="/">Home</a>
    <span class="text-text-accent">/</span>
    <a href="/stats">Stats</a>
  </div>
  <div class="flex gap-6">
    <a href="/projects">Projects</a>
    <a href="/blog">Blog</a>
  </div>
</nav>
